
.example-container {
    margin-top: 3%;
    margin-left: 30%;
    margin-right: 30%;
    width: 400px;
  }
  button{
    font-size: 110%;
    min-width: min-content;
    margin-left: 30%;
    // margin-right: 25%;
  }
  .abc{
      padding-right: 60px;
      padding-bottom: 1px;
  }
  

example-container1{

height: 10px;
width: 50%;
}

.example-container2 {
    margin-top: 1%;
    margin-left: 30%;
    margin-right: 20%;
    margin-bottom: 5%;
    width: 500px;
    height:100px;
  }
  .titleicon{

    padding-right: 60px;
    padding-bottom: 3px;

  }
  .icons{
    padding-right: 60px;
  }
  .buttonclose{
  margin-left: 60px;
   /// padding-right: 2px;
  }
  .test {
    background: #f5f5f5;
    padding: 5px;
}

.test[placeholder]:empty:before {
    content: attr(placeholder);
    color: #555; 
}

.mat-menu-item
{
  font-size: 60%;

}
.matmenu{
  height: 90px;
  width: 10px;
}


textarea {
  border: none;
  overflow: auto;
  outline: none;
  resize: none; 
}
.input{
  width:200px;
  height: 200px;
}
.style{
  font-size: 12px;
    font-style: normal
}

@media(max-width:700px){
  .example-container{
    width: 340px;
  }
}