
.example-container {
    margin-top: 1%;
    margin-left: 30%;
    margin-right: 30%;
    margin-bottom: 50%;
    padding: 16px;
    margin-bottom: 16px;
  }
  button{
    font-size: 110%;
    min-width: min-content;
    margin-left: 30%;
    // margin-right: 25%;
  }
  .abc{
      padding-right: 60px;
      padding-bottom: 3px;
  }
  

example-container1{

height: 10px;
width: 50%;
}

.example-container2 {
    margin-top: 1%;
    margin-left: 30%;
    margin-right: 30%;
    margin-bottom: 50%;
  }
  .titleicon{

    padding-right: 60px;
    padding-bottom: 3px;

  }
  