.companyName{
  font-size: 150%;
}

.mat-toolbar{
height: 12vh;
background-color: white;

}

div {
  overflow: inherit;

 
}

.example-full-width {
  width: 100%;
  padding-left: 30px;
  padding-right: 30px;
  height: 1px;

  margin-bottom: 40px;
}

mat-form-field.mat-form-field {
  font-size: 16px;
  height: 2px;
}
.mat-sidenav-container{
background-color:white;
}

.hoverhighlight:hover{
  background-color:lightgoldenrodyellow;
  border-top-right-radius: 15%;
  border-bottom-right-radius: 15%;
}

.example-sidenav{
  background-color:white;
    width:25%;
   position:fixed; 
   margin-top: 6%;
}

a{
  text-decoration: none;
  font-size: 110%;
  white-space: normal;
}

button{
  font-size: 110%;
  min-width: min-content;
}

.example-icon {
  padding: 0 14px;
}

.example-spacer {
  flex: 1 1 auto;
 padding-right: 5%;
}

.mat-sidenav-content{
    font-size: 200%;
    text-align: center;
    background-color: white;
}

.mat-menu-item
{
  font-size: 90%;

}



.mat-drawer-backdrop.mat-drawer-shown {

    background-color: white;
}

