
<html>
  <div>
      <div fxLayout="column" fxLayoutAlign="space-around center" >
        <form [formGroup]="resetForm" >
            <!-- material card  -->
<mat-card class="example-card">
    <!-- card header -->
        <mat-card-header class="example-header">
        <!-- card title -->
            <mat-card-title class="example-name-main">FUNDOO APP</mat-card-title>
             <!--card subtitle  -->
            <mat-card-subtitle class="example-name">Reset Password</mat-card-subtitle>
             
           <!-- end of subtitle -->
    </mat-card-header>
   <!-- firstname -->


<div class="example-container">
   
   <mat-form-field appearance="outline">
    <mat-label class="example-label">Password</mat-label>
  <input matInput placeholder="Enter your password" formControlName="password"  [type]="!hide ? 'password' : 'text'" required>
  <mat-icon matSuffix (click)="hide = !hide">{{!hide ? 'visibility_off' : 'visibility'}}</mat-icon>
  <mat-error *ngIf="password.invalid">Password is required</mat-error>

</mat-form-field>


   <mat-form-field appearance="outline">
      <mat-label class="example-label">Confirm </mat-label>
      <mat-label class="example-label">Password</mat-label>
      <input matInput placeholder="Enter your password" formControlName="confirmpassword"  [type]="!hide ? 'password' : 'text'" required>
      <mat-icon matSuffix (click)="hide = !hide">{{!hide ? 'visibility_off' : 'visibility'}}</mat-icon>

    <mat-error *ngIf="confirmpassword.invalid">PassWord Does Not Match</mat-error>
</mat-form-field> 


<mat-card-actions class="example-button">

  <button [disabled]="!resetForm.valid" mat-button aria-label="Show an example snack-bar" (click)=" onResetPassword()" mat-raised-button class="button-colour">Reset</button>
</mat-card-actions>
</div>
</mat-card>
      </form>
    </div>
  </div>
</html>
