
<html>
  <div>
      <div fxLayout="column" fxLayoutAlign="space-around center" >
        <form [formGroup]="registerForm" >
            <!-- material card  -->
<mat-card class="example-card" fxFlex="100" fxFlex.sm="80" fxFlex.xs="100">
    <!-- card header -->
        <mat-card-header class="example-header">
        <!-- card title -->
            <mat-card-title class="example-name-main">FUNDOO APP</mat-card-title>
             <!--card subtitle  -->
            <mat-card-subtitle class="example-name">Register</mat-card-subtitle>
             
           <!-- end of subtitle -->
    </mat-card-header>
   <!-- firstname -->


<div class="example-container">
    <mat-form-field appearance="outline">
        <mat-label class="example-label">Username</mat-label>
      <input type="text" formControlName="username" matInput placeholder="Input" required>
      <mat-error *ngIf="username.invalid">UserName is required</mat-error>  
  </mat-form-field>

  <mat-form-field appearance="outline">
      <mat-label class="example-label">Password</mat-label>
    <input type="text" formControlName="password" matInput placeholder="Input"  [type]="!hide ? 'password' : 'text'"  required>
    <mat-icon matSuffix (click)="hide = !hide">{{!hide ? 'visibility_off' : 'visibility'}}</mat-icon>
    <mat-error *ngIf="password.invalid">Password is required</mat-error>
</mat-form-field>

<mat-form-field appearance="outline">
  <mat-label class="example-label">Confirm </mat-label>
  <mat-label class="example-label">Password</mat-label>
  <input matInput placeholder="Enter your password" formControlName="confirmpassword"  [type]="!hide ? 'password' : 'text'" required>
  <mat-icon matSuffix (click)="hide = !hide">{{!hide ? 'visibility_off' : 'visibility'}}</mat-icon>
<mat-error *ngIf="confirmpasssword.invalid">PassWord Does Not Match</mat-error>
</mat-form-field> 

<mat-form-field appearance="outline">
  <mat-label class="example-label">Email</mat-label>
<input type="text" formControlName="email" pattern="^\S*[@]\S*[.]\S*$" matInput placeholder="Input" required>
<mat-error *ngIf="email.invalid && (email.touched || email.dirty)"> Email Id is required</mat-error>
<mat-error *ngIf="email.invalid "> Email Id is required</mat-error>

</mat-form-field>

<!-- "!emailField.valid && (emailField.touched || emailField.dirty)" -->

<mat-form-field appearance="outline">
  <mat-label class="example-label">Mobile Number</mat-label>
<input type="text" formControlName="mobilenumber" matInput placeholder="Input" required>
<mat-error *ngIf="password.invalid">Mobile Number is required</mat-error>
</mat-form-field>

<mat-card-actions class="example-button">
  <!-- <button mat-button class="name-link" routerLink="/login">Forgot Password ?</button> -->
  <button mat-button class="name-link" routerLink="/login">Login instead</button>
  <!-- <button mat-button class="name-link">Register</button> -->
  <button [disabled]="!registerForm.valid" mat-button aria-label="Show an example snack-bar" (click)="onRegister()" mat-raised-button class="button-colour">Sign Up</button>
  <!-- <button mat-button class="name-link" (click)="onRegister()">Register</button> -->
</mat-card-actions>
</div>
</mat-card>
      </form>
    </div>
  </div>
</html>
