
     <div class="image">
         <div fxLayout="column" fxLayoutAlign="center center">
              <form [formGroup]="loginForm" >
              
      <mat-card class="example-card" fxFlex="100" fxFlex.sm="80" fxFlex.xs="100" style="margin-top:90px">
     
              <mat-card-header class="example-header">
            
                  <mat-card-title class="example-name-main">FUNDOO APP</mat-card-title>
               
                  <mat-card-subtitle class="example-name">Login</mat-card-subtitle>
       
          </mat-card-header>
        
      
      
      <div class="example-container">
          <mat-form-field appearance="outline">
              <mat-label class="example-label">email</mat-label>
            <input type="text" formControlName="email" matInput placeholder="Enter your password" required>
            <mat-error *ngIf="email.invalid">Email is required</mat-error>
            
        </mat-form-field>
      
        
      
         
      <mat-form-field appearance="outline">
        <mat-label class="example-label">Password</mat-label>
      <input matInput placeholder="Enter your password" formControlName="password"  [type]="!hide ? 'password' : 'text'" required>
      <mat-icon matSuffix (click)="hide = !hide">{{!hide ? 'visibility_off' : 'visibility'}}</mat-icon>
      <mat-error *ngIf="password.invalid">Password is required</mat-error>
      
      </mat-form-field>
      
      
      
      
      
      <mat-card-actions class="example-button">
         <button mat-button class="name-link" routerLink="/forgot">Forgot Password ?</button>
      
      </mat-card-actions>
      </div>

      <div fxLayout="row" fxLayoutAlign="space-between end" >
      <button mat-raised-button class="name-link1" routerLink="/register">Create account</button>
      <button mat-raised-button [disabled]="!loginForm.valid" mat-button aria-label="Show an example snack-bar" (click)="onLogin()" mat-raised-button class="button-colour">Login</button>
    </div>
      </mat-card>
            </form>
          </div> 
        </div>