<div class="dialog"  [ngStyle]="{'backgroundColor': data.color}">

    <textarea matInput placeholder="Title.." [style.fontSize.px]=12 [formControl]="title" value={{data.title}}></textarea>
    <textarea matInput matTextAreaAutoSize placeholder="Take a Note..." [formControl]="description" [style.fontSize.px]=12  value={{data.description}}></textarea>
   


    <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="5px" style="margin-left:10px" >
        <mat-chip  [style.fontSize.px]=10 *ngFor="let labels of data.label"
        [removable]="removable" (removed)="removeLabel(labels,note)">
    {{labels.labelName}}
   <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
   </mat-chip>
          <mat-chip [style.fontSize.px]=8  *ngIf="data.reminder!=reminder" [selectable]="selectable"
          [removable]="removable" (removed)="removeReminder(data)">
          {{data.reminder|date:'short'}}
     <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
     </mat-chip>
        <div *ngFor="let collabusers of data.collabuser">
            <button mat-mini-fab>
          {{collabusers.username | slice:0:1}}
        </button>
      </div>
       </div>



<div fxLayout="row" fxLayoutAlign="space-around end">

    <div class="maticon">
     <button mat-icon-button matTooltip="Remind me"> 
       <mat-icon style="font-size: 20px">
        add_alert
      </mat-icon>
    </button>
    <button mat-icon-button matTooltip="Collaborator">
      <mat-icon style="font-size: 20px">
        person_add
       
      </mat-icon>
    </button>
    <button mat-icon-button matTooltip="Archive" (click)="archiveNote(data)">
      <mat-icon style="font-size: 20px">
        archive
      </mat-icon>
      </button>

      <button mat-icon-button matTooltip="Change color" [matMenuTriggerFor]="colorMenu">
        <mat-icon style="font-size: 20px" class="mat-18 changeColor" (click)="getId()">color_lens</mat-icon></button>

  <button class="mat-button-wrapper" mat-button (click)="updateNote(data.noteId)">Close</button>

</div>
</div>
</div>








<mat-menu #colorMenu="matMenu" class="colorMenu" [overlapTrigger]="false">
  <ng-template matMenuContent let-note="note">
  <div fxLayout="row wrap" fxLayoutAlign="end
  center" fxFlex="90">
  <div *ngFor="let color of colorCode">
  <button mat-icon-button [ngStyle]="{'color': color.colorCode}" (click)="changeColor(color.colorCode)">
  <mat-icon style="font-size: 40px" class="colorIcons">fiber_manual_record</mat-icon>
  </button>
  </div>
  </div>
  </ng-template>
  </mat-menu>
<app-note></app-note>