
<mat-list>
        <mat-list-item style="font-weight:bold;font-size: 20px;">Collabrator</mat-list-item>
        <mat-divider></mat-divider>
      </mat-list>
      
      <div fxLayout="row" fxLayoutAlign="start end"> 
    <div mat-card-avatar class="profile">
     <img mat-card-avatar class="profile1" src="http://localhost:8081/user/getProfile/{{profilePic}}"/> 
    </div>     
     <div *ngFor="let userInfo of userDetails">
       <div style="font-size:15px;font-weight: bold;">{{userInfo.username}}<span>(Owner)</span></div>
        <div style="font-size:12px;"> {{userInfo.email}}</div>
       
    </div> 
</div>




<div *ngFor="let info of data1">
  <div fxLayout="row" fxLayoutAlign="start end"> 
     <button mat-mini-fab> {{info.username | slice:0:1}}</button>
     <div fxLayout="column" style="margin-right: 110px;" fxFlex=50> 
      <div style="font-size:15px;font-weight: bold;">{{info.username}}</div>
        <div style="font-size:12px;"> {{info.email}}</div>
      </div>
         
             <button mat-button ><mat-icon matSuffix  (click)=" removeCollbrator(info.email)">cancel</mat-icon>
       </button>
      

      </div>
</div> 


    <div fxLayout="row" fxLayoutAlign="start end"> 
         
           <mat-icon matPrefix style="margin-right:10px;">person_add</mat-icon>
           
            <input type="tel"  matInput placeholder="Person or Email Share With" style="font-size: 12px;" [formControl]="useremail">

          <button mat-button style="    margin-right: 126px;"><mat-icon matSuffix  (click)="done(data.noteId)">done</mat-icon>
          </button>
        </div>



<mat-toolbar style="background-color:rgb(231, 227, 227);color:white;margin-top: 80px;">

<div fxLayout="row" fxLayoutAlign="space-around center" >
  <button mat-button mat-dialog-close style="color:rgb(63, 55, 55);">Cancel</button>
  <button mat-button [mat-dialog-close]="true" cdkFocusInitial (click)="addCollbrator(data.noteId)" style="color:rgb(63, 55, 55);">Save</button>
</div>
</mat-toolbar>
