.forgetVerifyCard
{
    width: 4cm;
    height:4cm;
    margin-top: 2cm;
    background-color:grey
}
.button
{
    margin:1cm;
    width: 1cm;
    height:1cm;
}

.example-name-main{
    padding-top : 30px;
    color:#1a73e8;
    display: flex;
    justify-content: center;
    width: 300px;
    font-size: 16px;
    
  }