
<form>
  <div fxLayout="column" fxLayoutAlign="center center">
    <mat-card-title class="example-name-main">Conguratulation You Have SuccessFully Login Please Verified Email Address</mat-card-title>
    <mat-card class="forgetVerifyCard">
      <mat-card-header>
        <mat-card-title>Click ON Verify</mat-card-title>
      </mat-card-header>
      <mat-card-content>

        <button mat-raised-button (click)="loginVerify()">Verify</button>
      </mat-card-content>
    </mat-card>

  </div>
</form>